@media screen and (max-width: 767px) {
    h1 {
      font-size: 36px;
      font-weight: 600;
    }
  
    h2 {
      font-size: 32px;
      font-weight: 600;
    }
  
    h3 {
      font-size: 28px;
      font-weight: 600;
    }
  
    h4 {
      font-size: 24px;
      font-weight: 600;
    }
  
    h5 {
      font-size: 20px;
      font-weight: 600;
    }
  
    h6 {
      font-size: 16px;
      font-weight: 600;
    }
  
    text {
      font-size: 16px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    h1 {
      font-size: 40px;
      font-weight: 600;
    }
  
    h2 {
      font-size: 36px;
      font-weight: 600;
    }
  
    h3 {
      font-size: 32px;
      font-weight: 600;
    }
  
    h4 {
      font-size: 28px;
      font-weight: 600;
    }
  
    h5 {
      font-size: 24px;
      font-weight: 600;
    }
  
    h6 {
      font-size: 20px;
      font-weight: 600;
    }
  
    text {
      font-size: 16px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 44px;
      font-weight: 600;
    }
  
    h2 {
      font-size: 40px;
      font-weight: 600;
    }
  
    h3 {
      font-size: 36px;
      font-weight: 600;
    }
  
    h4 {
      font-size: 32px;
      font-weight: 600;
    }
  
    h5 {
      font-size: 26px;
      font-weight: 600;
    }
  
    h6 {
      font-size: 20px;
      font-weight: 600;
    }
  
    text {
      font-size: 16px;
    }
  }
  