.Adminpanel {
  .layout-section .wrapper .heading {
    padding-top: 0px;
  }
  .options-available {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 90px;
    .option {
      width: 23%;
      height: 161px;
      text-align: center;
      border: rgb(211, 203, 203) 0.5px solid;
      border-radius: 15px;
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1),
        0 6px 20px 0 rgba(0, 0, 0, 0.1);

      .option-image {
        .image {
          width: 83px;
          height: 85px;
          border: 1px solid black;
          border-radius: 75px;
          background: yellowgreen;
          object-fit: scale-down;
        }
      }
    }
    .option:hover {
      cursor: pointer;
      box-shadow: 10px 10px 10px 10px rgba(0.1, 0.1, 0.1, 0.1);
    }
  }
}
